aiohttp==3.7.4.post0
astroid==2.6.6
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
cffi==1.15.0
chardet==4.0.0
discord==1.7.3
discord.py==1.7.3
flake8==3.9.2
idna==3.3
isort==5.10.0
jedi==0.18.0
lazy-object-proxy==1.6.0
mccabe==0.6.1
multidict==5.2.0
parso==0.8.2
pluggy==1.0.0
pycodestyle==2.7.0
pycparser==2.20
pydocstyle==6.1.1
pyflakes==2.3.1
pylint==2.9.6
PyNaCl==1.4.0
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.2.4
rope==0.21.0
six==1.16.0
snowballstemmer==2.1.0
toml==0.10.2
typing-extensions==3.10.0.2
ujson==4.2.0
wavelink==0.9.10
wrapt==1.12.1
yapf==0.31.0
yarl==1.7.2
youtube-dl==2021.6.6
